{
  "swagger": "2.0",
  "info": {
    "title": "OpenAccountants",
    "description": "On-demand access to 800+ accountant-verified tax skills across 190+ jurisdictions, exposed via a public Model Context Protocol (MCP) server. Every skill is signed off by a named licensed accountant. Covers income tax, VAT/GST, payroll, formation, cross-border issues, and more. Useful for Copilot Studio agents that need accountant-grade tax computation or jurisdiction-specific accounting context.",
    "version": "1.0.0",
    "contact": {
      "name": "OpenAccountants",
      "url": "https://www.openaccountants.com",
      "email": "info@openaccountants.com"
    },
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "www.openaccountants.com",
  "basePath": "/api",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/mcp": {
      "post": {
        "summary": "Call the OpenAccountants MCP server",
        "description": "JSON-RPC 2.0 endpoint exposing the Model Context Protocol tool surface. Use the Copilot Studio MCP onboarding wizard to discover the available tools automatically. Available tools: start, list_skills, get_skill, get_skill_sections, search_skills.",
        "operationId": "McpInvoke",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JsonRpcRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "schema": {
              "$ref": "#/definitions/JsonRpcResponse"
            }
          },
          "429": {
            "description": "Rate limit exceeded (60 requests/minute per IP). Retry after the Retry-After header value."
          }
        }
      }
    }
  },
  "definitions": {
    "JsonRpcRequest": {
      "type": "object",
      "required": ["jsonrpc", "method"],
      "properties": {
        "jsonrpc": {
          "type": "string",
          "enum": ["2.0"]
        },
        "id": {
          "type": "string",
          "x-nullable": true
        },
        "method": {
          "type": "string",
          "description": "MCP method, e.g. tools/list, tools/call, initialize"
        },
        "params": {
          "type": "object",
          "description": "Method-specific parameters"
        }
      }
    },
    "JsonRpcResponse": {
      "type": "object",
      "required": ["jsonrpc"],
      "properties": {
        "jsonrpc": {
          "type": "string",
          "enum": ["2.0"]
        },
        "id": {
          "type": "string",
          "x-nullable": true
        },
        "result": {
          "type": "object"
        },
        "error": {
          "type": "object",
          "properties": {
            "code": { "type": "integer" },
            "message": { "type": "string" }
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.openaccountants.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.openaccountants.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Finance;AI"
    }
  ]
}
